{% load project_tags keyword_tags mezzanine_tags i18n %}

<div class="filters">
<a class="filters__item filters__item{% if not category %}--is-current{% endif %}" href="/projects">все проекты</a>
{% project_categories as categories %}
{% if categories %}
{% for cat in categories %}
    <a class="filters__item filters__item{% if cat.title == category.title %}--is-current{% endif %}" href="{% url "project_list_category" cat.slug %}"
    >{{ cat.title }}</a>
{% endfor %}
{% endif %}
<div class="filters__sub-filters"><a href="#" class="filters__sub-filter-item">списком</a><a href="#" class="filters__sub-filter-item">по датам</a></div>
</div>
