{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ project_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for project_post as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ project_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable project_post.title %}{{ project_post.title }}{% endeditable %}
{% endblock %}

{% block main %}

<div class="content-block__left-side">
	<div class="content-block__text-block">
		<p class="contacts">Дата:&nbsp;<span> {{ project_post.date }}</span></p>
		<p class="contacts">Заказчик:&nbsp;<span> {{ project_post.customer }}</span></p>
	</div>
<div class="content-block__text-block">
{% editable project_post.content %}{{ project_post.content|richtext_filters|safe }}{% endeditable %}
</div>
</div>
{% with project_post.team as team %}
{% include "includes/team_list.html" %}
{% endwith %}
{% endblock %}
