{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Project" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Project" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% elif category %}
    {% trans "Category:" %} {{ category }}
{% elif year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month %}
    {% block project_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing projects tagged" %} {{ tag }}
    {% elif category %}
        {% trans "Viewing projects for the category" %} {{ category }}
    {% elif year or month %}
        {% trans "Viewing projects from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block project_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for project_post in project_posts %}
{% block project_list_post_title %}
{% editable project_post.title %}
<h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
{% block project_list_post_metainfo %}
{% editable project_post.publish_date %}
<h6 class="post-meta">
    {% with project_post.categories.all as categories %}
    {% if categories %}
    {% trans "in" %}
    {% for category in categories %}
    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% blocktrans with sometime=project_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% if project_post.featured_image %}
{% block project_list_post_featured_image %}
<a href="{{ project_post.get_absolute_url }}">
    <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail project_post.featured_image 90 90 %}">
</a>
{% endblock %}
{% endif %}

{% block project_list_post_content %}
{% editable project_post.content %}
{{ project_post.description_from_content|safe }}
{% endeditable %}
{% endblock %}

{% block project_list_post_links %}
<div class="blog-list-detail">
    {% keywords_for project_post as tags %}
    {% if 0 and tags %}
    <ul class="list-inline tags">
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <li><a href="{% url "project_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
    {% endfor %}
    {% endspaceless %}
    </ul>
    {% endif %}
    <p>
    <a href="{{ project_post.get_absolute_url }}">{% trans "read more" %}</a>
    
    </p>
</div>
{% endblock %}
{% endfor %}

{% pagination_for project_posts %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
