{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ project_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for project_post as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ project_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable project_post.title %}{{ project_post.title }}{% endeditable %}
{% endblock %}

{% block main %}
{% with project_post.team.all as team %}
{% for person in team%}
	{{person.title}}
	<img class="member-foto" style="-webkit-clip-path: circle(50% at 50% 50%);clip-path: circle(50% at 50% 50%);" src="/res/80{{ MEDIA_URL }}{{person.mugshot}}">
{% endfor %}
{% endwith %}
{% editable project_post.content %}{{ project_post.content|richtext_filters|safe }}{% endeditable %}
{% endblock %}
